.container-imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 550px;
  }
.card{
    margin: 25px;
    height: 600px;
    width: 400px;
    overflow: scroll;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: rgb(191, 176, 249);
    background: linear-gradient(to right, rgb(68, 86, 245), rgb(96, 108, 237));
}

.card #img{
    height: 180px;
    object-fit: cover;
    border-radius: 5px 5px 0, 0;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 80px;
    margin-top: 10px;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgb(164, 240, 13);
}

/* #card{
    display: inline-block;
    margin: 5px;
    height: 400px;
    width: 350px;
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: white;
    background: linear-gradient(to right, white, white);
} */

h2{
    color: blueviolet;
    text-align: center;
    font-size: 50px;
}

.card #link{
    color: rgb(19, 7, 30);
    height: 50px;
    font-size: 30px;
    text-decoration: none;
}

.card #button{
    color: blueviolet;
    height: 50px;
}

.card p{
    color: black;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.card p #explicacion{
    font-size: 10px;
}

.container #nasa h2{
    color: aliceblue;
}